:root {
  --yellow-color: #F0BF5F;
  --light-brown-color: #CC9933;
  --brown-color: #A47312;
  --gray-color: #666;
  --light-gray-color: #999;
  --white-color: #fff;
  --dark-white-color: #E9E9E9;
  --light-black-color: #333;
}
